<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
  {{/each}}
</ul>

<h2></h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Submit a burger you want to eat!</label>
  </div>

  <button type="submit">Submit</button>
</form>

